{{#*inline "content"}}
<div class="c-not-found">
    <div class="c-not-found__title">404</div>
    <p class="c-not-found__phrase">This is a dead-end. Nothing to see here</p>
</div>
{{/inline}}
{{> layout}}