{{#*inline "content"}}
<div class="c-about-page c-page-content">
    <header class="c-about-header">
        <h1 class="c-about-header__title" itemprop="headline">Tearing weird pieces apart.</h1>
    </header>
    <main class="c-page-content" aria-label="content">
        <p>I’m a student from Bavaria, Germany with this weird drive for researching all kinds of stuff from a low-level
            perspective. I occasionally hack on things, enjoy break weird machines or just find fun in writing something
            down. This is what this blog is built around.</p>
        <p>I hold the strong belief that learning is important and intend to use this blog to archive my journeys and
            thoughts and provide them as educational and entertaining resources for learning more about various aspects
            of
            InfoSec, hacking, tech and programming, from a perspective where learning resources generally are sparse.
        </p>
        <p>The writeups and information I provide are neither published for malicious intents nor condone their use
            for
            malicious behavior. The sole purpose behind everything I write is to be found enjoyable, informative or
            interesting by my audience.</p>
        <p>If you have any questions, thoughts or just want to have a chat, don’t hesitate to get in touch with me.</p>
        <ul class="c-about-links">
            <li>Email: <a href="mailto:valentin.be@protonmail.com">valentin.be@protonmail.com</a></li>
            <li>Github: <a href="https://github.com/vbe0201" target="_blank">@vbe0201</a></li>
            <li>Twitter: <a href="https://twitter.com/iamwalleh" target="_blank">@iamwalleh</a></li>
        </ul>
        <p>Further, this blog is <a href="https://github.com/vbe0201/blog" target="_blank">open source</a> and is based
            on the wonderful
            Jekyll theme <a href="https://github.com/piharpi/jekyll-klise" target="_blank">Klisé.</a></p>
    </main>
</div>
{{/inline}}
{{> layout}}