<!DOCTYPE html>
<html>

<head>
    {{> header}}
</head>

<body>
    {{> navbar}}
    <div class="l-wrapper">
        {{~> content}}
        {{> footer}}
    </div>
    <script src="/assets/js/index.js" defer></script>
</body>

</html>