{{#*inline "content"}}
{{!-- TODO: generate for every header a link as anchor_head --}}
<header class="c-post-header">
    <h1>{{{post.title}}}</h1>
    <span>{{{post.date}}}</span>
</header>
<main arial-role="content">
    <article class="c-post-content">
        {{{post.body}}}
    </article>
</main>
{{/inline}}
{{> layout}}